body {
  /* background-image: url("Purple Modern Gaming Channel Banner Landscape (7).png"); */
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
}



.container {
    margin-top: 99px;
  }
  
 


  
  .settings div {
    margin-bottom: 10px;
  }
  
  .timer {
    font-size: 80px;
    
  }
  
  .session-state {
    margin-bottom: 20px;
    
  }
  
  .counters {
    margin-bottom: 20px;
    
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    border: none;
    margin-top: 5px;
  }
  

  .settings input {
     overflow: hidden;
     text-decoration: none;
     outline: none;
     border: none;
     border-radius: 5px;
  }

  .settings label {
    font-size: large;
  }


  .inpspan {
    color: red;
  }